# Byte-compiled / Cache-Dateien
__pycache__/
*.py[cod]
*$py.class

# C-Erweiterungen / Kompilierte Module
*.so

# Virtuelle Umgebungen
.env
.venv
[Ee]nv/  # Deckt env/ und ENV/ ab
venv/
env.bak/
venv.bak/

# Distribution / Packaging / Build-Artefakte
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.spec

# IDE / Editor spezifisch
.vscode/
Hamsternation.code-workspace

# Projekt-spezifische oder temporäre Dateien
_old/
highscore.txt
